.account-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-data-container{
    margin-top: 50px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-photo-container{
    position: relative;
}

.photo-edit-icon{
    position: absolute;
    right: 0px;
    bottom: 3px;

    &:hover {
        cursor: pointer;
    }
}

.account-photo{
    width: 200px;
    height: 200px;
    outline: 3px solid #112250;
    outline-offset: 5px; 
    border-radius: 50%;
    object-fit: cover; 
    object-position: center;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-account-photo-icon {
  font-size: 8pt;
}

.account-login{
    z-index: 10;
    position: relative;
    font-size: 16pt;
    margin-top: 10px;
    width: 300px;
}

.account-login label.text {
  font-size: 0.75rem;
  color: black;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background-color: #f5f0e9;
  width: fit-content;
}

.account-login input[type=text].input {
  padding: 11px 10px;
  font-size: 1rem;
  border: 2px black solid;
  border-radius: 5px;
  background: transparent;
}

.account-login input[type=text].input:focus {
  outline: none;
}

.account-email{
    position: relative;
    font-size: 16pt;
    width: 300px;
}

.account-email label.text {
  font-size: 0.75rem;
  color: black;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background-color: #f5f0e9;
  width: fit-content;
}

.account-email input[type=text].input {
  padding: 11px 10px;
  font-size: 1rem;
  border: 2px black solid;
  border-radius: 5px;
  background: transparent;
}

.account-email input[type=text].input:focus {
  outline: none;
}

.account-password > button{
    width: 300px;
    height: 50px;
    margin-top: 30px;
    font-size: 12pt;
    color: #fafafa;
    background-color: #112250;
    transition: ease-in 0.3s;
    border: 3px solid #112250;
      border-radius: 5px;

    &:hover{
        cursor: pointer;
        background-color: #D6AF8D;
        border-color: #0C7F69;
        color: black;
    }
}

.account-delete > button{
    width: 300px;
    height: 50px;
    margin-top: 30px;
    font-size: 12pt;
    color: #fafafa;
    background-color: #0C7F69;
    transition: ease-in 0.3s;
    border: 3px solid #0C7F69;
      border-radius: 5px;

    &:hover{
        cursor: pointer;
        background-color: #D6AF8D;
        border-color: #0C7F69;
        color: black;
    }
}

.account-photo-options-icon{
    position: absolute;
    z-index: 100;
    bottom: 5px;
    right: -30px;
    cursor: pointer;
}

.account-photo-options{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: -54px;
    right: -20px;
    background-color: #f5f0e9;
    border: 2px solid #0F172A;
    border-radius: 10px;
    width: 200px;
    z-index: 100;
    
    div{
        padding: 5px;

        &:nth-of-type(1){
            border-radius: 8px 8px 0 0;
            background-color: #f5f0e9;
            color: #0F172A;
            border-bottom: 2px solid #0F172A;
        }

        &:active{
            background-color: #f5f0e9;
            color: #0F172A;
        }

        &:nth-of-type(1):hover{
            border-radius: 8px 8px 0 0;
            background-color: #0F172A;
            cursor: pointer;
            color: #f5f0e9;
            border-bottom: 2px solid #0C7F69;
        }

        &:nth-of-type(2):hover{
            border-radius: 0 0 8px 8px;
            background-color: #0F172A;
            cursor: pointer;
            color: #f5f0e9;
        }
    }
}

.added-album-add-button{
    position: fixed;
    font-size: 36pt;
    right: 30px;
    bottom: 30px;

    &:hover{
        cursor: pointer;
    }
}

.account-save-btn {
  position: absolute;
  left: 330px;
  top: 36px;
  width: 100px;
  height: 30px;
  font-size: 12pt;
  color: #fafafa;
  background-color: #112250;
  transition: ease-in 0.3s;
  border: 3px solid #122250;
  border-radius: 5px;

  &:hover{
    cursor: pointer;
    background-color: #D6AF8D;
    border-color: #0C7F69;
    color: black;
  }
}