.album-title{
    height: 300px;
    display: flex;
    /* background-image: url(../photo/party.jpg);
    background-color: #C56FFF; */
    background-size: cover;
    background-position: center;
    font-size: 32pt;
    color: black;
    align-items: center; 
    justify-content: center;
}

.album-description{
    height: 40px;
    display: flex;
    align-items: center; 
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    font-size: 14pt;
    color: black;
}