.event-create-title{
  height: 300px;
  display: flex;
  text-align: center;
    /* background-image: url(../photo/event/backgrounds/10.png); */
    /* background-color: #C56FFF; */
  background-size: cover;
  background-position: center;
  font-size: 32pt;
  color: black;
  align-items: center; 
  justify-content: center;
  border: 1px solid black;
}

.event-name-input {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: static;
  width: 500px;
  margin-top: 20px;
}

.event-name-input label.text {
  font-size: 0.75rem;
  color: black;
  font-weight: 700;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 7px;
  padding: 0 3px;
  background-color: #f5f0e9;
  width: fit-content;
}

.event-name-input input[type=text].input {
  padding: 11px 10px;
  font-size: 1rem;
  border: 2px black solid;
  border-radius: 5px;
  background: transparent;
}

.event-name-input input[type=text].input:focus {
  outline: none;
}

.event-constructor{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.background-block-create-event{
  margin-top: 20px;
}

.background-create-event{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 10px;
}

.background-create-event > div{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 3px solid black;
  margin-bottom: 10px;
  cursor: pointer;
}

/* .text-color-block-create-event{
    margin-top: 20px;
} */

.text-color-create-event{
  display: grid;
  width: 300px;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 10px;
}

.text-color-create-event > div{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 3px solid black;
  margin-bottom: 10px;
  cursor: pointer;
}

.third-block-create-event button {
  padding: 10px 40px;
  color: #fafafa;
  background-color: #112250;
  transition: ease-in 0.3s;
  border: 3px solid #112250;
  margin-top: 50px; 
  cursor: pointer;

  &:hover {
    background-color: #D6AF8D;
    border: 3px solid #0C7F69;    
    color: black;
  }

  &:disabled {
    background-color: #112250;
    cursor: not-allowed;
  }
}