.album-arrow-right-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    top: 30px;
    left: 80px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #f5f0e9;
    
    &:hover{
        cursor: pointer;
    }
}

.friend-photo-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
/*     grid-template-rows: repeat(2, 300px); */
    justify-items: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.friend-photo{
    margin: 50px;
    width: 200px;
    height: 250px;
    background-image: url(../photo/me.jpg);
    background-size: cover;
    background-position: center;

    &:nth-of-type(2){
        background-image: url(../photo/meee.jpg) !important;
    }

    &:nth-of-type(3){
        background-image: url(../photo/я\ в\ париже2.png) !important;
    }

    &:nth-of-type(4){
        background-image: url(../photo/20250907_213414.jpg) !important;
    }

    &:nth-of-type(5){
        background-image: url(../photo/IMG_20250912_113822_689.jpg) !important;
    }

}

.friend-name{
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 14pt;
    padding-left: 20px;
}

.friend-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    background-image: url(../photo/me.jpg);
    background-size: cover;
    background-position: center; 
    background-size: 500%;
}

.friend-data-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.friend-select-all-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.friend-data-container-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding-left: 30px;
    padding-right: 30px;
}

input[type="checkbox"]{
  accent-color: #C56FFF;
  width: 20px;
  height: 20px;
}

#select-all{
    margin-left: 10px;
}

.album-control-panel{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f5f0e9;
    top: 0px;
    height: 40px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.album-creator-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 30px;

    div{
        margin-left: 10px;
    }
}

.album-expiration-date-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 20px;

    div{
        margin-left: 10px;
    }
}

.album-control-panel-options{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-right: 30px;

    div{
        margin-left: 10px;
    }

    button{
        width: 150px;
        height: 30px;
        font-size: 12pt;
        color: #fafafa;
        background-color: #112250;
        transition: ease-in 0.3s;
        border: 3px solid #112250;
        margin-right: 20px;
        border-radius: 5px;

        &:hover{
            cursor: pointer;
            background-color: #D6AF8D;
            border-color: #0C7F69;
            color: black;
        }

        &:nth-of-type(3){
            margin-left: 50px;
            width: 100px !important;
        }
    }
}

