.album-arrow-right-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    top: 30px;
    left: 80px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #f5f0e9;
    
    &:hover{
        cursor: pointer;
    }
}

.friend-photo-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
/*     grid-template-rows: repeat(2, 300px); */
    justify-items: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.friend-photo{
    margin: 50px;
    width: 200px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border: 2px solid #112250;
}

.friend-photo.selected {
    outline: 3px solid #0C7F69;; 
    box-shadow: inset 0 0 0 4px white; 
    outline-offset: 10px; 
    border: 2px solid #112250;;
    transform: scale(0.98);
}

.friend-name{
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 14pt;
    padding-left: 20px;
}

.friend-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    background-size: cover;
    background-position: center; 
    object-fit: cover; 
    object-position: center;
    background-size: 800%;
}

.friend-data-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.friend-select-all-container{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.friend-data-container-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding-left: 30px;
    padding-right: 30px;
}

input[type="checkbox"]{
  accent-color: #112250;
  width: 20px;
  height: 20px;
}

#select-all{
    margin-left: 10px;
}

.album-control-panel{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f5f0e9;
    top: 0px;
    height: 40px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.album-creator-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 30px;

    div{
        margin-left: 10px;
    }
}

.album-expiration-date-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 20px;

    div{
        margin-left: 10px;
    }
}

.album-control-panel-options{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-right: 30px;

    div{
        margin-left: 10px;
    }

    button {
        width: 150px;
        height: 30px;
        font-size: 12pt;
        color: #fafafa;        
        background-color: #112250;
        transition: ease-in 0.3s;
        border: 3px solid #112250;
        margin-right: 20px;
        border-radius: 5px;

        &:hover{
            cursor: pointer !important;
            background-color: #D6AF8D !important;                
            border-color: #0C7F69 !important;
            color: black !important;
        }
    }
}

/* Эффект для кнопки при скачивании */
.btn-loading {
    opacity: 0.7;
    cursor: wait !important;
}

/* Анимация мигающих точек */
.loader-dots::after {
    content: '...';
    display: inline-block;
    width: 12px;
    animation: dots 1.5s steps(3, end) infinite;
}

@keyframes dots {
    0%, 20% { content: '.'; }
    40% { content: '..'; }
    60% { content: '...'; }
    80%, 100% { content: ''; }
}

.photo-modal-overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex; align-items: center; justify-content: center;
    z-index: 2000;
}

.modal-image-container {
    max-width: 85%; max-height: 85%;
    display: flex; flex-direction: column; align-items: center;
}

.modal-image-container img {
    max-width: 100%; max-height: 80vh;
    border-radius: 4px; box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.modal-nav-btn {
    position: absolute; background: none; border: none;
    color: white; font-size: 50px; cursor: pointer;
    padding: 20px; transition: color 0.2s;
}
.modal-nav-btn:hover { color: #007bff; }
.prev { left: 20px; }
.next { right: 20px; }

.modal-close-btn {
    position: absolute; top: 20px; right: 30px;
    background: none; border: none; color: white;
    font-size: 60px; cursor: pointer;
}

.modal-caption {
    color: white; margin-top: 15px; font-family: sans-serif;
}
