@keyframes arrowmove {
    0%   {bottom: 0px;}
  15%  {bottom: 5px;}
  30%  {bottom: 0px;}
  100% {bottom: 0px;}
}

.get-started-button{
  padding: 20px 38px;
  margin-top: 50px;
  font-size: 12pt;
  color: #fafafa;
  background-color: #112250;
  transition: ease-in 0.3s;
  border: 3px solid #112250;
  border-radius: 5px;
}

.get-started-button:hover{
  cursor: pointer;
    background-color: #D6AF8D;
    border-color: #0C7F69;
    color: black;
}

.arrow-get-started-icon{
    position: relative;
    animation-delay: 3s;
    animation: arrowmove 2s infinite;
}
