.main-container{
    width: 100%;
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-photoalbum-container{
    width: 500px;
    height: 150px;
}

.main-photoalbum-container > p{
    font-size: 16pt;
    text-align: center;
}

.main-photoalbum-container > div{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.main-photoalbum-container > div > button{
    width: 200px;
    height: 50px;
    font-size: 12pt;
    color: #fafafa;
    background-color: #112250;
    transition: ease-in 0.3s;
    border: 3px solid #112250;
}

.main-photoalbum-container > div > button:hover{
    cursor: pointer;
    background-color: #D6AF8D;
    border-color: #0C7F69;
    color: black;
}