.manage-photos-arrow-right-container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    top: 110px;
    left: 80px;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #f5f0e9;
    
    &:hover{
        cursor: pointer;
    }
}

.album-control-panel{
    background-color: #f5f0e9;
    z-index: 10;
}

.manage-photos-album-name{
    margin: 20px;
    font-size: 36pt;
}

.manage-photos-album-description{
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-size: 14pt;
}

.manage-photos-control-panel-options{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-right: 30px;
    background-color: #f5f0e9;
    z-index: 10;

    div{
        margin-left: 10px;
    }

    button{
        width: 150px;
        height: 30px;
        font-size: 12pt;
        color: #fafafa;
        background-color: #112250;
        transition: ease-in 0.3s;
        border: 3px solid #112250;
        margin-right: 20px;
        border-radius: 5px;

        &:hover{
            cursor: pointer;
            background-color: #D6AF8D;
            border-color: #0C7F69;
            color: black;
        }

        &:nth-of-type(3){
            margin-left: 50px;
            width: 100px !important;
        }
    }
}