.photos-to-upload-container{
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
/*     grid-template-rows: repeat(2, 300px); */
    justify-items: center;
    align-items: center;
}

.photos-to-upload-photo-container{
    position: relative;
    margin: 50px;
    width: 200px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border: 1px solid black;
}