body{
  background-color: #f5f0e9;
/*   background-image: radial-gradient(at 98.23579340146132% 59.579128843806416%, hsla(271.7910447761194, 81.70731707317073%, 67.84313725490196%, 1) 0%, hsla(271.7910447761194, 81.70731707317073%, 67.84313725490196%, 0) 100%), radial-gradient(at 62.27559829493674% 12.761627681824073%, hsla(38.150289017341045, 82.77511961722489%, 59.01960784313726%, 1) 0%, hsla(38.150289017341045, 82.77511961722489%, 59.01960784313726%, 0) 100%), radial-gradient(at 59.86543128312491% 62.97465064982024%, hsla(182.23880597014926, 81.70731707317073%, 67.84313725490196%, 1) 0%, hsla(182.23880597014926, 81.70731707317073%, 67.84313725490196%, 0) 100%), radial-gradient(at 46.356685025312885% 54.5940930875727%, hsla(271.7910447761194, 81.70731707317073%, 67.84313725490196%, 1) 0%, hsla(271.7910447761194, 81.70731707317073%, 67.84313725490196%, 0) 100%), radial-gradient(at 20.42647430827318% 67.5857925154533%, hsla(38.150289017341045, 82.77511961722489%, 59.01960784313726%, 1) 0%, hsla(38.150289017341045, 82.77511961722489%, 59.01960784313726%, 0) 100%), radial-gradient(at 5.720204281524177% 52.01053958583447%, hsla(182.23880597014926, 81.70731707317073%, 67.84313725490196%, 1) 0%, hsla(182.23880597014926, 81.70731707317073%, 67.84313725490196%, 0) 100%), radial-gradient(at 27.897482092664518% 14.668126692126538%, hsla(271.7910447761194, 81.70731707317073%, 67.84313725490196%, 1) 0%, hsla(271.7910447761194, 81.70731707317073%, 67.84313725490196%, 0) 100%), radial-gradient(at 65.11813625310346% 88.4796689750354%, hsla(38.150289017341045, 82.77511961722489%, 59.01960784313726%, 1) 0%, hsla(38.150289017341045, 82.77511961722489%, 59.01960784313726%, 0) 100%);
} */
}

@font-face {
  font-family: 'Old Classic';
  src: url('./fonts/ofont.ru_Old\ Classic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Isabella-Decor';
  src: url('./fonts/ofont.ru_Isabella-Decor.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rosarium';
  src: url('./fonts/ofont.ru_Rosarium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('./fonts/ofont.ru_Manrope.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
