spring:
  application:
    name: album-service
  datasource:
    username: postgres
    password: 1111
    url: jdbc:postgresql://localhost:5432/album_service_db
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  liquibase:
    change-log: db/changelog/main-changelog.yml

server:
  port: 8082

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
